@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EComNet</h1>
    <p>Feel free to browse occurred website for your needs.</p>
</div>
